<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Countries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Countries</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item *ngFor="let countrie of countries">
    <ion-avatar slot="start">
      <img src={{countrie.flags.png}}>
    </ion-avatar>
    <ion-label>
    <div>
      {{ countrie.name.official }} <br />
      {{ countrie.translations.por.official}} <br />
      <h6>population: {{ countrie.population}} <br />
        continent: {{countrie.continents}} <br />
      </h6>
      <p>Capital: {{countrie.capital}}</p>
    </div> 
    </ion-label>
  </ion-item>
</ion-content>
